html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1{
    font-size: 2em;
}

#container{
    width: 960px;
    height: auto;
    margin: 0 auto;

}
p{
    color: darkred;
}
h2{
    color: darkred;
    font-size: 1.5em;
}

a{
    text-decoration: none; /*Tira o sublinhado de todos elementos <a>*/
    color: orange; /*Define a cor do texto do elemento <a>*/
}
nav{

    height: 60px;
}
nav ul li{

    list-style: none;/*Retira os marcadores da lista*/
    border: solid 1px orange; /*Definindo uma borda sólida, laranja e de 1px de espessura*/
    float: left;/*Faz com que um elemento do tipo BLOCK fique um ao lado do outro
    "flutuando" à esquerda do elemento subsequente*/
    width: 150px;/*Define a largura de um elemento*/
    height: 40px;/*Define a altura de um elemento*/
    line-height: 2.5em; /*Define a altura de uma linha*/
    text-align: center;/*Centraliza o texto*/
    border-radius: 25px 0; /*Trabalhar o arredondamento dos cantos das bordas*/
    margin-left: 5px;/*Aumenta a distância entre os elementos em 5px à esquerda*/
    text-transform: uppercase;/*Coloca todas as letras em maiúsculo*/
    font-weight: bold;/*Negrita os caracteres*/
}

a{
    width: 150px;
    height: 40px;
    display: block;/*Transforma um elemento inline em block*/
    border-radius: 25px 0;
}
a:hover{

    background-color: orange;
    color: white;
}

img{
    max-width: 100%;
}
#teste{
    width: 150px;
    height: 150px;
    background-image: url(../img/banner.png);
    background-position: -20px -50px;
    border-radius: 50%;
}


 